/* COLOR GUIDE
#3B170B for Dark Brown
#FFFFF0 for Light Ivory
---------------------------------*/

/* OVERALL
---------------------------------*/
body {
	background-color: #E6E6E6; 
	font-family:"Optima";
	height: 100%;
	}
a:link {
	color: #3B170B;
	text-decoration:none;
	}
a:visited {
	color:  #3B170B;
	text-decoration:none;
	}
a:hover {
	color: grey;
	text-decoration:none;
	}
p {
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	clear:both;
	color: #3B170B;
	}
br {
	text-align: left;
	color: #3B170B;
	}

/* NAVIGATION 
---------------------------------*/
nav ul { 
	margin:20px auto 20px auto;
	width:90%;
	position:relative;
	overflow:auto;
	padding:0;
	clear:both;
	float:center;
	text-align:center;
	font-size: 2em;
	font-family: Copperplate, "Courier New", serif;
	}
nav li {
	list-style-type:none;	
	display:block;
	}
ul.textul {
	list-style-type:disc;
	float:left;
	text-align:left;
	margin:0px;
	}
ul.indent {
	list-style-type:none;	
	text-align: left;
	margin: 0px;
	padding-left: 25px;
	}
/* MAIN CONTENT 
---------------------------------*/
#content {
	width:90%;
	margin:20px auto 20px auto;
	position:relative;
	text-align: center;
	font-size: 1em;
	font-family: 'Apple Chancery', 'Monotype Corsiva', monospace;
	}
section {
	padding: 0px;
	}
article {
	padding: 10px;
	}
/* IMAGES 
---------------------------------*/
.left {
	float:center;
	position: absolute;
	clear: both;
	}
.center {
	padding:20px;
	text-align:center;
	float:center;
	position:relative;
	}

.thumbs {
	padding: 10px 30px 30px 50px;
	text-align: center;
	}
.thumbs a {
	display: inline-block;
	margin: 20px 20px 0 0;
	}
.thumbs a:hover img {
	border-color: #3B170B;;
	}
.thumbs:after {
	content: " ";
	display: block;
	clear: both;
	}
.gallery {
	height: 300px;
	padding: 30px 0;
	}
.thumbs img,
.gallery img {
	border: 5px solid #FFFFF0;
	background: #fff;
	}
.hidden {
	display: none;
	}
/* FOOTER 
---------------------------------*/
#footer {
	background:#3B170B;
	width:90%;
	position:relative;
 	margin:20px auto 20px auto;
 	color: #FFFFF0;
 	font-size: 0.75em;
 	text-align: center;
	}
