/* COLOR GUIDE
   #CEECF5: Light Blue
   #E6E6E6: Light Gray
   #FFFFF0: Light Ivory
   #2E2E2E: Dark Gray
   #3B170B: Dark Brown
   
---------------------------------*/

/* OVERALL
---------------------------------*/
body {
	background-color: #E6E6E6; 
	font-family:"Optima";
	height: 100%;
	}
a:link {
	color: #3B170B;
	text-decoration:none;
	}
a:visited {
	color:  #3B170B;
	text-decoration:none;
	}
a:hover {
	color: grey;
	text-decoration:none;
	}


/* NAVIGATION 
---------------------------------*/
nav ul { 
	margin:20px auto 20px auto;
	width:90%;
	position:relative;
	overflow:auto;
	padding:0;
	clear:both;
	float:center;
	text-align:center;
	font-size: 2em;
	font-family: Copperplate, "Courier New", serif;
	color: #3B170B;
	}
nav li {
	list-style-type:none;	
	display:block;
	}
ul.textul {
	list-style-type:disc;
	float:left;
	text-align:left;
	margin:0px;
	}
ul.indent {
	list-style-type:none;	
	text-align: left;
	margin: 0px;
	padding-left: 25px;
	}
/* MAIN CONTENT 
---------------------------------*/
#content {
	width:90%;
	margin:20px auto 20px auto;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	position:relative;
	text-align: center;
	font-size: 1em;
	font-family: 'Apple Chancery', 'Monotype Corsiva', monospace;
	}
section {
	padding: 0px;
	}
article {
	padding: 10px;
	}
/* FOOTER 
---------------------------------*/
#footer {
	background:#3B170B;
	width:90%;
	position:relative;
 	margin:20px auto 20px auto;
 	color: #FFFFF0;
 	font-size: 0.75em;
 	text-align: center;
	}
