/* COLOR GUIDE
   #CEECF5: Light Blue
   #E6E6E6: Light Gray
   #FFFFF0: Light Ivory
   #2E2E2E: Dark Gray
   #4C4646: Dark Gray for Text
   #3B170B: Dark Brown
   
---------------------------------*/

/* OVERALL
---------------------------------*/
body {
	background-image: url("image/wood.jpg");
	font-family:"Optima";
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	}
a:link {
	color: white;
	text-decoration:none;
	}
a:visited {
    color: white;
	text-decoration:none;
	}
a:hover {
	color: #3B170B;
	text-decoration: none;
	}
nav ul li:hover {
	background: #FFFFF0;
	}
#indexNav a:link {
	color: #3B170B;
	text-decoration:none;
	}
#indexNav a:visited {
    color: #3B170B;
	text-decoration:none;
	}
#indexNav a:hover {
	color: grey;
	text-decoration: none;
	}
	
/* MAIN CONTENT
---------------------------------*/
#content {
	background-color: #3B170B; 
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: "Optima";
	width: 90%;
	height: 95%;
	position: relative;
	margin: 0;
	padding: 10px 10px 10px 0;
	clear: both;
	font-size: 1em;
	color: #4C4646;
	}
#indexContent {
    background-color: #3B170B;
    border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width:90%;
	margin:20px auto 20px auto;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	position: relative;
	text-align: center;
	font-size: 1em;
	color: #2E2E2E;
	font-family: 'Apple Chancery', 'Monotype Corsiva', monospace;
	}
article {
	background-color: #FFFFF0;
	background-image: url("image/binding.png");
	background-position: left;
	background-repeat: repeat-y; 
	padding: 20px 20px 20px 50px;
	margin-top: 0;
	clear: both;
	position: relative;
	}
#indexArticle{
	background-color: #FFFFF0;
	padding: 20px 20px 20px 50px;
	}
p {
	margin-top: 0px;
	margin-bottom: 0px;
	clear: both;
}
.centername {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	font-style: italic;
	color: #3B170B;

}
.category {
	text-decoration: underline;
	font-weight: bold;
	color: #3B170B;
	}
.jobtitle { 
	font-weight: bold;
	clear: both;
	color: #3B170B;
	}
ul.textul {
	list-style-type: disc;
	float: left;
	text-align: left;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #3B170B;
	}
ul.indent {
	list-style-type: none;	
	text-align: left;
	margin: 0px;
	padding-left: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #3B170B;
	}
	
/* NAVIGATION
---------------------------------*/
nav ul {
	opacity: 0.6;
	filter: alpha(opacity=60);
	width: 75%; 
	margin: 98px 0 0 120px;
	position: relative;
	overflow: auto;
	text-align: center;
	padding: 0;
	}
nav li {
	list-style-type: none;	
	display: inline;
	float: left;
	text-align: center;
	background: #2E2E2E;
	margin: 0px 4px 0px 4px;
	padding: 4px;
	}
nav li a {
	display: block;
	width: 100px;
	}
#indexNav ul { 
	margin:20px auto 20px auto;
	width:90%;
	position:relative;
	overflow:auto;
	padding:0;
	clear:both;
	float:center;
	text-align:center;
	font-size: 2em;
	font-family: Copperplate, "Courier New", serif;
	color: #3B170B;
	}
#indexNav li {
	list-style-type:none;	
	display:block;
	}

/* BLOG
---------------------------------*/
.events {
   margin: 10px 0;
}
.events p {
    font-size: 0.9em;
    padding-top: 3px;
}

/* IMAGES
---------------------------------*/
.left {
	float: left;
	position: absoute;
	clear: none;
	padding: 10px;
	width: 100px;
	height: 100px;
	}
	
/* FOOTER
---------------------------------*/
footer {
    margin: 10px 0 10px 0;
    clear: none;
    position: relative;
    width: 100%;
    text-align: center;
    }

