/* 
	For pages that often changes and get new articles.
	Example: Blog, Portfolio 
---------------------------------*/

/* Gallery
---------------------------------*/
.gallery {
	background: rgba(255, 255, 255, 0.6);
	display: inline-block;
	position: relative;
	height: 250px;
	margin: 10px;
	position: relative;
	width: 475px;
}

.slides {
	height: 250px;
	width: 375px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

.slides ul {
	left: 0;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	top: 0;
}

.slides li {
	display: table;
	height: 250px;
	table-layout: fixed;
	width: 380px;
}

.slides li .slide-img {
	display: table-cell;
	table-layout: fixed;
	width: 380px;
    vertical-align: middle;
}

.slides img {
	display: table-cell;
	width: 100%;
	table-layout:fixed;
}

.carousel-control i {
	color: #666666;
	opacity: 0.8;
	filter: alpha(opacity=80);
	position: relative;
	z-index: 100;
}

.carousel-control i:hover {
	color: #4d4d4d;
}

.prev i {
	float: left;
	margin-left: 5px;
	top: 100px;
}

.next i {
	float: right;
	margin-right: 5px;
	top: 100px;
}

/* Lightbox
---------------------------------*/
#lightbox {
	background: rgba(77, 77, 77, 0.6);
	left: 0;
	height: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 200;
}

#lightcontainer {
	display: inline-block;
	height: 100%;
	left: 20px;
	padding: 25px;
	position: relative;
	width: 100%;
	overflow: auto;
}

#lightbox img {
	border: 5px solid #4d4d4d;
	box-shadow: 0 0 25px black;
	-webkit-box-shadow: 0 0 25px black;
	-moz-box-shadow: 0 0 25px black;
	max-width: 940px;
	top: 5%;
	margin-bottom: 5%;
}

/* Gallery Aside
---------------------------------*/
aside {
	background-color: rgba(255, 255, 255, 0.6);
	display: inline-block;
	position: relative;
	margin: 10px;
	top: 0;
	vertical-align: top;
	width: 50%;
}

aside .description {
	background-color: rgba(255, 255, 255, 0.6);
    border-top: 0;
    border-bottom: 0;
    margin: auto;
    padding: 10px;
    position: relative;
}

aside .bevel {
	border-color: rgba(255, 255, 255, 0.6);
	border-style: solid;
	border-width: 25px;
	height: 0px;
}

aside .top {
	border-top: 0;
	border-left-color: #666666;
	border-right-color: #666666;
}

aside .bottom {
	border-bottom: 0;
	border-left-color: #666666;
	border-right-color: #666666;
}

aside h2 {
	display: inline;
}

aside span, aside .github i {
	vertical-align: top;
}

@keyframes spin { 100% {-webkit-transform: rotate(360deg); transform: rotate(360deg);} }
@-moz-keyframes spin { 100% {-moz-transform: rotate(360deg);} }
@-webkit-keyframes spin { 100% {-webkit-transform: rotate(360deg);} }

aside a.github {
	display: inline-block;
}

aside a.github:active, aside a.github:focus {
	animation-name: spin;
	animation-duration: 2s;
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
}

/* WordPress: 3.0 - Typography
---------------------------------*/
.wp-entry body,
.wp-entry button,
.wp-entry input,
.wp-entry select,
.wp-entry textarea {
	font-family: Merriweather, Georgia, serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

.wp-entry p {
	margin: 0 0 1.75em !important;
}

.wp-entry dfn,
.wp-entry cite,
.wp-entry em,
.wp-entry i {
	font-style: italic !important;
}

.wp-entry blockquote {
	border: 0 solid #1a1a1a;
	border-left-width: 4px;
	font-size: 19px;
	font-size: 1.1875rem;
	font-style: italic;
	line-height: 1.4736842105;
	margin: 0 0 1.4736842105em;
	padding: 0 0 0 1.263157895em;
}

.wp-entry blockquote,
.wp-entry q {
	quotes: none;
}

.wp-entry blockquote:before,
.wp-entry blockquote:after,
.wp-entry q:before,
.wp-entry q:after {
	content: "";
}

.wp-entry blockquote p {
	margin-bottom: .5em !important;
}

.wp-entry blockquote cite,
.wp-entry blockquote small {
	display: block;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

.wp-entry blockquote cite:before,
.wp-entry blockquote small:before {
	content: "\2014\00a0";
}

.wp-entry blockquote em,
.wp-entry blockquote i,
.wp-entry blockquote cite {
	font-style: normal;
}

.wp-entry blockquote strong,
.wp-entry blockquote b {
	font-weight: 400;
}

.wp-entry blockquote > :last-child {
	margin-bottom: 0;
}

/* WordPress: 4.0 - Elements
---------------------------------*/
.wp-entry body {
	background: #1a1a1a;
	/* Fallback for when there is no custom background color defined. */
}

.wp-entry hr {
	background-color: #d1d1d1;
	border: 0;
	height: 1px;
	margin: 0 0 1.75em;
}

.wp-entry ul,
.wp-entry ol {
	margin: 0 0 1.75em 1.25em;
	padding: 0;
}

.wp-entry ul {
	list-style: disc;
}

.wp-entry ol {
	list-style: decimal;
	margin-left: 1.5em;
}

.wp-entry li > ul,
.wp-entry li > ol {
	margin-bottom: 0;
}

.wp-entry img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
	vertical-align: middle;
}

/* WordPress: 8.0 - Alignments
---------------------------------*/

.wp-entry .alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.wp-entry .alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

.wp-entry .aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}

.wp-entry blockquote.alignleft {
	margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

.wp-entry blockquote.alignright {
	margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

.wp-entry blockquote.aligncenter {
	margin-bottom: 1.473684211em;
}

/* WordPress: 9.0 - Clearings
---------------------------------*/
.wp-entry blockquote:before,
.wp-entry blockquote:after {
	content: "";
	display: table;
}

.wp-entry blockquote:after {
	clear: both;
}

/* WordPress: 11.2 - Posts and pages
---------------------------------*/
body:not(.search-results) .wp-entry .entry-summary blockquote {
	border-color: currentColor;
}

body:not(.search-results) .wp-entry .entry-summary blockquote > :last-child {
	margin-bottom: 0;
}

/* WordPress: 12.1 - Captions
---------------------------------*/

.wp-entry .wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
}

.wp-entry .wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-entry .wp-caption .wp-caption-text {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
