/* OVERALL
---------------------------------*/
body {
	background-image: url("../images/wood.jpg");
	color: #4d4d4d;
	font-family: Optima, Calibri, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}

h1, h2, h3, h4 {
	color: #872B0D;
}

h3 {
	margin-bottom: 1em;
}

section h3 {
	margin: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.italic {
	font-style: italic;
}

.underlined {
	text-decoration: underline;
}

.bold-title { 
	font-weight: bold;
	clear: both;
}

ul.textul {
	list-style-type: disc;
	float: left;
	text-align: left;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

ul.indent {
	list-style-type: none;	
	text-align: left;
	margin: 0px;
	padding-left: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
}

::selection {
	background: #DD3300;
	color: white;
}

::-moz-selection {
	background: #DD3300;
	color: white;
}

noscript p, #noJquery {
  color: white;
  text-align: center;
  background-color: #d55c15;
  padding: 5px;
  margin-top: 0px;
  width: 100%;
  position: relative;
  clear: both;
}

/* HEADER
---------------------------------*/
a#skip-main {
	left: -999px;
	overflow: hidden;
	position: absolute;
}

a#skip-main:focus, a#skip-main:active {
	background-color: rgba(255, 255, 255, 0.6);
	display: block;
	clear: both;
	color: #DD3300;
	left: auto;
	position: relative;
	text-decoration: underline dotted;
	top: auto;
	overflow: auto;
	width: 20%;
}

header {
	margin: 10px;
	width: 100%;
	clear: both;
}
#logo {
	clear: both;
	float: left;
	font-size: 3em;
	font-weight: bold;
	margin: 0;
	margin-left: -15px;
}

#logo .site-title {
	background-color: rgba(255, 255, 255, 0.8);
    border-top: 0;
    border-bottom: 0;
    font-family: "Book Antiqua", Palatino, serif;
    font-style: italic;
    font-weight: bold;
    padding: 0 20px 0 45px;
    margin: 0;
    text-shadow: 3px 2px 0px rgba(59,23,11,0.3);
    -o-text-shadow: 3px 2px 0px rgba(59,23,11,0.3);
    -moz-text-shadow: 3px 2px 0px rgba(59,23,11,0.3);
    -webkit-text-shadow: 3px 2px 0px rgba(59,23,11,0.3);
    width: 100%;
}

/* brevel, top, & bottom used to create the translucent background of logo */
#logo .bevel {
	border-color: rgba(255, 255, 255, 0.8);
	border-style: solid;
	border-width: 25px;
	height: 0px;
    padding-left: 15px;
	width: 100%;
}

#logo .top {
	border-top: 0;
	border-right-color: transparent;
}

#logo .bottom {
	border-bottom: 0;
	border-right-color: transparent;
}

#logo a:link, #logo a:visited {
	color: #D45328;
	text-decoration: none;
}

#logo a:hover, #logo a:active, #logo a:focus {
	color: #875342;
	font-weight: bold;
	text-decoration: underline dashed;
}

#social-media {
	float: right;
	margin: 20px 0 20px 20px;
	padding-right: 10%;
}

#social-media a {
	margin-left: 12px;
}

#social-media a:link, #social-media a:visited {
	color: white;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

#social-media a:hover, #social-media a:active, #social-media a:focus {
	color: #873F27;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

/* NAVIGATION
---------------------------------*/
nav {
	display: block;
	clear: both;
	height: auto;
	position: relative;
	width: 90%;
}

nav #main-menu {
	opacity: 0.8;
	filter: alpha(opacity=80);
	float: right;
	margin: 10px 0 -10px 15px;
	overflow: hidden;
	width: 580px;
	z-index: 100;
}

nav a {
	background: #873F27;
	box-shadow: 6px 0 10px -4px black;
	-o-box-shadow: 6px 0 10px -4px black;
	-moz-box-shadow: 6px 0 10px -4px black;
	-webkit-box-shadow: 6px 0 10px -4px black;
	display: inline-block;
	float: left;
	list-style-type: none;	
	text-align: center;
	margin: 0px 4px 0px 4px;
	padding: 4px 4px 8px 4px;
	padding-bottom: 15px;
	width: 100px;
}

nav a span {
	display: block;
	height: 100%;
	width: 100px;
}

nav a:link, nav a:visited {
	color: white;
	text-decoration: none;
}

nav a:hover:not(#navicon), nav a:active:not(#navicon), nav a:focus:not(#navicon) {
	background: #FFFFF0;
	color: #873F27;
	font-weight: bold;
	text-decoration: none;
}

#navicon {
	display: none;
	visibility: hidden;
}

/* SUBHEADER/SUBNAV
---------------------------------*/
#subheader {
	text-align: center;
}

#subheader .icon i {
	vertical-align: middle;
}

#subNav {
	clear: both;
	text-align: center;
}

/* MAIN CONTAINER
---------------------------------*/
#container {
	background-color: #4d4d4d; 
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 3px 3px 6px -3px black;
	-o-box-shadow: 3px 3px 6px -3px black;
	-moz-box-shadow: 3px 3px 6px -3px black;
	-webkit-box-shadow: 3px 3px 6px -3px black;
	width: 90%;
	height: 95%;
	position: relative;
	margin: 0;
	padding: 15px 15px 15px 0;
	clear: both;
	font-size: 1em;
}

#container main {
	background-color: #FFFFF0;
	background-image: url("../images/binding.png");
	background-image: linear-gradient(left, #4d4d4d 2px, #A6A69F 10px, #D3D3C8 20px, #F2F2E4 30px, #FBFBEC 35px, #FFFFF0 40px);
	background-image: -moz-linear-gradient(left, #4d4d4d 2px, #A6A69F 10px, #D3D3C8 20px, #F2F2E4 30px, #FBFBEC 35px, #FFFFF0 40px);
	background-image: -o-linear-gradient(left, #4d4d4d 2px, #A6A69F 10px, #D3D3C8 20px, #F2F2E4 30px, #FBFBEC 35px, #FFFFF0 40px);
	background-image: -webkit-linear-gradient(left, #4d4d4d 2px, #A6A69F 10px, #D3D3C8 20px, #F2F2E4 30px, #FBFBEC 35px, #FFFFF0 40px);
	background-position: left;
	background-repeat: repeat-y; 
	box-shadow: 3px 3px 6px -3px black;
	height: 100%;
	padding: 20px 20px 20px 50px;
	margin-top: 0;
	clear: both;
	overflow: auto;
	position: relative;
}

main p {
	margin-top: 0px;
	margin-bottom: 0px;
	clear: both;
}

main a:link, main a:visited {
	color: #DD3300;
	text-decoration: underline dotted;
}

main a:hover, main a:active, main a:focus {
	color: #875342;
	font-weight: bold;
	text-decoration: underline dashed;
}

.events {
   margin: 10px 0;
}
.events p {
    font-size: 0.9em;
    padding-top: 3px;
}

/* IMAGES
---------------------------------*/
hr { 
 	border: 0; 
 	height: 1px; 
 	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 	background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 }

img .left {
	position: absolute;
	clear: none;
	padding: 10px;
	width: 100px;
	height: 100px;
}
	
/* FOOTER
---------------------------------*/
footer {
    margin: 10px 0 10px 0;
    clear: none;
    color: #873F27;
    position: relative;
    width: 100%;
    text-align: center;
}

/* MEDIA QUERIES
---------------------------------*/
/* Smartphone (portrait and landscape) */
@media only screen and (max-width: 480px) {
	header {
		width: 70%;
	}
	a#navicon i {
		font-size: 1.5em;
	}
	nav a, a#navicon {
		font-size: 1em;
		height: 1.5em;
		padding: 2px 6px;
	}	
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 768px) {
	header {
		width: 80%;
	}
	a#navicon i {
		font-size: 2em;
	}
	nav a {
		font-size: 1.5em;
		height: 2em;
		padding: 6px 8px;
	}	
}
/* Smartphones and tablets (portrait and landscape) */
@media only screen and (max-width: 768px) {
	/* Banner */
	header {
		clear: none;
		display: inline-block;
		float: left;
		position: relative;
	}

	#logo {
		float: none;
		margin: auto;
		position: relative;
		text-align: center;
	}

	#logo .site-title {
		padding: 0 15px;
	}	

	#logo .bevel {
		border-width: 15px;
	    padding: 0px;
	}	

	#logo .top, #logo .bottom {
		border-left-color: transparent;
	}	

	/* Social Media */
	#social-media {
		float: none;
		font-size: 1.5em;
		margin: 10px auto 0 auto;
		padding: 0;
		text-align: center;
	}	

	/* Nav */
	nav {
		clear: none;
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		width: auto;
		z-index: 300;
	}	

	nav #main-menu {
		clear: both;
		display: none;
		float: right;
		height: 100%;
		margin: 0;
		position: relative;
		visibility: hidden;
		width: 100%;
	}	

	nav a {
		font-size: 1.5em;
		margin: auto;
		width: 100%;
	}	

	nav a span {
		display: inline-block;
		width: 100%;
	}

	a#navicon {
		clear: none;
		display: inline-block;
		opacity: 0.8;
		filter: alpha(opacity=80);
		top: 0;
		visibility: visible;
		width: auto;
	}

	/* Main */
	#container {
		width: 95%;
	}

	#container main {
		padding: 2%;
		padding-left: 25px;
	}

	.left {
		clear: both;
		float: none;
		margin: auto;
		text-align: center;
	}
}

/* Laptop */
@media only screen and (min-width: 768px) {
	/* Fix for when nav tab have the wrong width when browser is stretch from mobile size to laptop size */
	nav {
		width: 90%
	}	
}