/* COLOR GUIDE
   #CEECF5: Light Blue
   #E6E6E6: Light Gray
   #FFFFF0: Light Ivory
   #2E2E2E: Dark Gray
   #4C4646: Dark Gray for Text
   #3B170B: Dark Brown
   
---------------------------------*/

/* OVERALL
---------------------------------*/
body {
	background-image: url("../images/wood.jpg");
	font-family: "Optima";
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
a:link, a:visited, a:hover {
	color: white;
	text-decoration: none;
}
.center {
	text-align: center;
}
.italic {
	font-style: italic;
	color: #3B170B;
}
.italic-center {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	font-style: italic;
}
.underlined-category {
	text-decoration: underline;
	font-weight: bold;
}
.bold-title { 
	font-weight: bold;
	clear: both;
}
ul.textul {
	list-style-type: disc;
	float: left;
	text-align: left;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
ul.indent {
	list-style-type: none;	
	text-align: left;
	margin: 0px;
	padding-left: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
}

::selection {
	background: #D45328;
	color: white;
}

::-moz-selection {
	background: #D45328;
	color: white;
}

/* HEADER
---------------------------------*/
header {
	margin: 10px;
	width: 100%;
	clear: both;
	font-family: "Optima";
}
#banner {
	clear: both;
	float: left;
	font-size: 3em;
	font-weight: bold;
	margin: 0;
	padding: 10px;
}
#banner a:link, #banner a:visited, #banner {
	color: #872B0D;
	text-decoration: none;
}
#banner a:hover {
	color: #D45328;
	text-decoration: none;
}
#social-media {
	float: right;
	margin: 20px;
	padding-right: 10%;
}
#social-media a:link, #social-media a:visited {
	color: white;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
#social-media a:hover {
	color: #873F27;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

/* NAVIGATION
---------------------------------*/
nav ul {
	clear: both;
	opacity: 0.8;
	filter: alpha(opacity=80);
	width: 75%; 
	margin: 98px 0 -15px 50%;
	position: relative;
	overflow: auto;
	text-align: center;
	padding: 0;
	z-index: 10;
}
nav li {
	list-style-type: none;	
	display: inline;
	float: left;
	font-family: "Optima";
	text-align: center;
	background: #873F27;
	margin: 0px 4px 0px 4px;
	padding: 4px 4px 8px 4px;
	padding-bottom: 15px;
}
nav li a {
	display: block;
	width: 100px;
}
nav ul a:link, nav ul a:visited {
	color: white;
	text-decoration: none;
}
nav ul a:hover {
	color: #873F27;
	text-decoration: none;
}
nav ul li:hover {
	background: #FFFFF0;
}

/* MAIN CONTENT
---------------------------------*/
#content {
	background-color: #4d4d4d; 
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: "Optima";
	width: 90%;
	height: 95%;
	position: relative;
	margin: 0;
	padding: 15px 15px 15px 0;
	clear: both;
	font-size: 1em;
}
#content article {
	background-color: #FFFFF0;
	background-image: url("../images/binding.png");
	background-position: left;
	background-repeat: repeat-y; 
	padding: 20px 20px 20px 50px;
	margin-top: 0;
	clear: both;
	position: relative;
}
#content p {
	margin-top: 0px;
	margin-bottom: 0px;
	clear: both;
}
/* MAIN CONTENT
---------------------------------*/
#content {
	color: #4d4d4d;
}
#content a:link, #content a:visited {
	color: #873F27;
	text-decoration: none;
}
#content a:hover {
	color: #D45328;
	text-decoration: none;
}
.events {
   margin: 10px 0;
}
.events p {
    font-size: 0.9em;
    padding-top: 3px;
}

/* IMAGES
---------------------------------*/
.left {
	float: left;
	position: absoute;
	clear: none;
	padding: 10px;
	width: 100px;
	height: 100px;
}
	
/* FOOTER
---------------------------------*/
footer {
    margin: 10px 0 10px 0;
    clear: none;
    color: #873F27;
    position: relative;
    width: 100%;
    text-align: center;
}